/* Style Sheet for Connect 4  */

body {
  font-family:Lucida, sans-serif;
    background-color: #742f42;
    align: center;
    margin:0px;
    padding:0px;
    min-width:825px; /* suppose you want minimun width of 1000px */
    width: auto !important;  /* Firefox will set width as auto */
    width:825px;             /* As IE ignores !important it will set width as 1000px; */
}

h1 {
    color: navy;
    margin-left: 20px;
}
img{
    display: block;
    margin: 0 auto;
}

footer{
  padding-top: 50px;
  text-align: center;
}

.button{
  font-family:Lucida, sans-serif;
  font-size: 2em;
  border: none;
  background-color: #f9b508;
  margin-left: 15px;
  margin-right: 15px;
  border: 1px solid #f9b508;
  border-radius: 10px;
}

.button:hover{
  background-color: #9c1f2d;
  border: 1px solid #f9b508;
}

.board {
  margin:auto;
  display: table;
  visibility:visible;
        }

.tableRow {
  display: table-row;
  visibility: visible;
}

.tableHeader {
  display: table-header-group;

 }

.rTableBody { display: table-row-group; }
.rTableFoot { display: table-footer-group; }
.tableCell, .tableHeader { display: table-cell; }

.menu{
  margin: auto;
  display: block;
  width: 50%;
  align-items: center;
  text-align: center;
  text-decoration: none;
  padding-bottom: 15px;
  border-bottom: 3px solid  #9c1f2d;
}

a:link {
    text-decoration: none;
}

#input{
  text-align: center;
  font-weight:bold;
  font-size:20px;
  width:150px;
  border-radius:15px;"
}

#playAgain{
  visibility:hidden;
  border: 3px solid  #dd7f0b;
  background-color: #f9b508;
  align:center;
  margin: auto;
  margin-top: 15px;
  width:350px;
  align-items: center;
  font-family:Lucida, sans-serif;
  font-size: 1.5em;
  text-align: center;
  padding:3px;
  border-radius: 10px;
}

#playAgain-yes,#playAgain-no{
  font-family:Lucida, sans-serif;
  font-size: 1.5em;
  border: none;
  background-color: #9c1f2d;
  margin-left: 15px;
  margin-right: 15px;
  border: 1px solid #9c1f2d;
  border-radius: 10px;
}

#playAgain-yes:hover,#playAgain-no:hover {
  background-color: #742f42;
}


#main{
  margin:auto;
  width:50%;
  align-items: center;
  text-align: center;
}

#topRow{
  visibility: visible;
}

#player1{
    float: left;
    padding-left:5%;
}

#c1{
  margin-bottom:300px;
}

#player2{
    float: right;
    position:relative;
    padding-right:5%;
}

#winDraw{
  margin:auto;
  align:center;
  visibility: hidden;
  font-family:Lucida, sans-serif;
  font-size: 3em;
  font-weight:bold;
  text-align: center;
  color: white;
  border-radius: 10px;
}

#banner{
  font-family:Lucida, sans-serif;
  font-style: normal;
  font-size: 6em;
  margin:auto;
  min-width: 300px;
  text-align: center;
  color:white;
  margin-top:15px;
}

#playerOneWins{
  float: left;
  padding-left:5%;
  font-family:Lucida, sans-serif;
  font-size: 2em;
  color:white;
}

#playerTwoWins{
  float: right;
  padding-right:5%;
  font-family:Lucida, sans-serif;
  font-size: 2em;
  color:white;
}
